:root {
  --strong-green: #7DE21D;
  --light-green: #97E84A;
  --purple: #821DE2;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--light-green);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}

.textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  color: var(--purple);
  background-color: var(--strong-green);
  min-width: 90%;
  min-height: 90%;
  max-height: 45vh;
  max-width: 45vw;
  padding: 1rem;
  line-height: 1.5rem;
  box-shadow: 2px 2px 5px 5px var(--purple);
}

@media screen and (max-width: 480px) {
  #root {
    grid-template-columns: 100%;
    grid-template-rows: 45% 45%;
  }
}